body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  
}

$gray : rgb(187, 187, 187);
$gray2 : rgb(128, 128, 128);
$black: rgb(65, 65, 65);
$blue1 : rgb(16, 134, 128);
$blue2 : rgb(11, 121, 189);
$blue3 : rgba(14, 170, 163, 0.4);
$orange1 : rgb(237, 156, 74);
$orange2 : rgb(211, 110, 10);
$orange-bg: rgb(251, 233, 198);

.flex-center {
  display: flex;
  justify-content: center;
}

.btn-1 {
  color: white;
  background: $blue1;
  //background: $orange2;
  padding: 7px 15px;
  border-radius: 15px;
  cursor: pointer;
  &:hover {
    background: rgb(11, 121, 189);
  }
}

button {
    font-size: inherit;
    font-family: inherit;
    border: none;
}

.back {
    font-size: 1.3em;
    cursor: pointer;
    margin-left: 20px;
}

.main {
   max-width: 900px;
   margin: auto;
}

.yellow {
  color: rgb(230, 195, 18);
}
.black {
  color: rgb(53, 53, 53);
}
.green {
  color: rgb(26, 137, 32);
}
.red {
  color: rgb(190, 43, 43);
}
.purple {
  color: rgb(116, 43, 190);
}
.blue {
  color: rgb(12, 144, 226);
}
.blue1 {
  color: $blue1;
}
.brown {
  color: rgb(114, 62, 6);
}
.orange {
  color: $orange2;
}