body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$gray : rgb(187, 187, 187);
$black: rgb(65, 65, 65);
$blue1 : rgb(16, 134, 128);
$blue2 : rgb(11, 121, 189);
$blue3 : rgba(14, 170, 163, 0.4);
$orange1 : rgb(237, 156, 74);

.flex-center {
  display: flex;
  justify-content: center;
}

.btn-1 {
  color: white;
  background: $blue1;
  padding: 7px 15px;
  border-radius: 15px;
  cursor: pointer;
  &:hover {
    background: rgb(11, 121, 189);
  }
}

button {
    font-size: inherit;
    font-family: inherit;
    border: none;
}

.back {
    font-size: 1.3em;
    cursor: pointer;
    margin-left: 20px;
}

.main {
   max-width: 900px;
   margin: auto;
}