.home-setting_page {
    position: absolute;
    top: 0;
    width: 100%;
    background: white;

    animation: arriveTop 0.7s both;
    @keyframes arriveTop {
        from {
            transform: translateY(-700px);
        }
    }
}


.home-settingChara_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.home-settingChara {
    width: 150px;
    height: 150px;
    margin: 7px;
    border-radius: 30px;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    img {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    p {
        position: relative;
        z-index: 3;
        color: white;
        padding: 7px 10px;
        background: $blue1;
    }

    &:hover {
        background: $blue3;
        cursor: pointer;
    }

    &.active {
        background: $orange1;
    }
}